#nav_bar{
height:30;
}

#sideblock{
height:100%;
width:100%;
margin-top:0px;
background: #2C3E50;
opacity:0.9;
float:left;
widht:260px;
}

.sidebar-nav{
padding:0;
list-style:none;
}

.sidebar-nav li{
text-indent:20px;
line-height:40px;
font-size:18px;
}

.sidebar-nav li a{
display:block;
text-decoration:none;
color:#ddd;
}

.sidebar-nav li a:hover{
background:#16A085;
}


#org{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
font-size:20px;
}

#main_objectives{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
font-size:15px;
text-align:justify;
font-size:20px;
}

#projects{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
text-align:justify;
font-size:20px;
}

#rti{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
font-size:20px;
}

#telephone_directory{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
font-size:20px;
}

#contact{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
font-size:15px;
font-size:20px;
}

#aboutus{
width:100%;
background:#C9E1C1;
padding:15px;
opacity:0.9;
font-size:15px;
text-align:justify;
font-size:20px;
}

#footer{
padding:0;
font-size:15px;
font-family:arial;
text-shadow: 1px 1px 1px black;
background-color:black;
list-style-type: none;
}

#footer li{
display: inline-block;
text-decoration:none;
left:200px;
bottom:8px;
}

#footer li a{
display:block;
text-decoration:none;
}
